.container-main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; /* Garante que os itens não sejam centralizados verticalmente */
    justify-content: center; /* Alinha os itens no centro */
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    padding: 20px;
}

.container-child-main {
    flex-grow: 1;
    flex-basis: 400px; /* Tamanho base maior para desktop */
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    color: #333;
    margin: 10px; /* Adiciona um espaço entre as seções */
    box-sizing: border-box;
}

.slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    z-index: 10;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.container-child-main p {
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1.6;
}

.container-child-main > ul {
    list-style: none;
    padding-left: 0;
}

.container-child-main ul li {
    margin: 8px 0;
}

/* Media Query para telas menores */
@media (max-width: 768px) {
    .container-main {
        padding: 10px;
        display: flex;
        flex-direction: column; /* Alinha as seções em coluna em telas menores */
        justify-content: flex-start; /* Alinha as seções no topo */
    }

    .container-child-main {
        flex-basis: 100%; /* Faz as seções ocuparem toda a largura da tela */
        margin: 10px 0; /* Ajusta o espaçamento entre as seções */
    }

    .slider-container img {
        width: 100%;
    }
}
